<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mjcard/res/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{330,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,90}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/cancel_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,90},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/gang_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/gang_bt_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,265},{161,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,134}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/gang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/gang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,526},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/gang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,0},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,115},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/icon_chao.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,0},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/icon_lai.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,39},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/icon_pi.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,40},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/jiantou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,90},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/jiantou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,117},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/jiantou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,144},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/liang_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,390},{145,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,115}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/marker.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,40},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/peng_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/peng_bt_un.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{156,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,136}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/qxtuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,115},{215,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,75}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,240},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/zimo.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{249,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,115}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/B_autumnkan.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/L_autumnkan.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,0},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/R_autumnkan.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mj_picture.png</string>
			<key>realTextureFileName</key>
			<string>mj_picture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>