<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/record/res/imboard/add_input_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,714},{98,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,66}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/add_input_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,665},{66,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,44}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/addgame_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,665},{189,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,49}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{920,665}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{920,665}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,0},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,183},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,366},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/reset1.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,549},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/reset2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/sanchu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,915},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/sanchu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,714},{183,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,75}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,0},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,34},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,68},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,102},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,136},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,170},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,204},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,238},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,272},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>app/part/xymj/record/res/imboard/selectroom_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,306},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>imboard_picture.png</string>
			<key>realTextureFileName</key>
			<string>imboard_picture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>