<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/lobby/res/num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,895},{222,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,61}</string>
			</dict>
			<key>app/part/xymj/lobby/res/zuan_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,973},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>app/part/xymj/lobby/res/lobby_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,825},{221,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,76}</string>
			</dict>
			<key>app/part/xymj/lobby/res/agent1.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,288},{88,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,91}</string>
			</dict>
			<key>app/part/xymj/lobby/res/agent3.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,319},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/back_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,227},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,134},{140,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,75}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_help_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,378},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,405},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_notice_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,464},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,211},{140,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,75}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_record_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,365},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_share_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,491},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,550},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/buy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>app/part/xymj/lobby/res/coin_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,973},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>
			<key>app/part/xymj/lobby/res/game_btn_normal1.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{354,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,111}</string>
			</dict>
			<key>app/part/xymj/lobby/res/game_btn_normal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,65},{354,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,111}</string>
			</dict>
			<key>app/part/xymj/lobby/res/game_btn_normal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,178},{354,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,111}</string>
			</dict>
			<key>app/part/xymj/lobby/res/id_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,973},{30,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,19}</string>
			</dict>
			<key>app/part/xymj/lobby/res/red_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1005},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,17}</string>
			</dict>
			<key>app/part/xymj/lobby/res/rp_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,958},{53,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,76}</string>
			</dict>
			<key>app/part/xymj/lobby/res/logo_327941.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,291},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>app/part/xymj/lobby/res/logo_327942.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,903},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>app/part/xymj/lobby/res/logo_327943.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,903},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>app/part/xymj/lobby/res/logo_327940.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,825},{200,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,68}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_activity.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,451},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_change_account.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,413},{92,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,75}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_game_manage.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,507},{92,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,74}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_game_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,319},{92,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,76}</string>
			</dict>
			<key>app/part/xymj/lobby/res/bottom_bkg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{891,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{891,62}</string>
			</dict>
			<key>app/part/xymj/lobby/res/btn_feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,577},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>app/part/xymj/lobby/res/xy_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{312,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,102}</string>
			</dict>
			<key>app/part/xymj/lobby/res/settings_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1},{362,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,114}</string>
			</dict>
			<key>app/part/xymj/lobby/res/game_coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,65},{160,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,67}</string>
			</dict>
			<key>app/part/xymj/lobby/res/game_coins_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,65},{160,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lobby_picture.png</string>
			<key>realTextureFileName</key>
			<string>lobby_picture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>