<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/dissolve/res/dissolveTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{566,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,105}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/backframe.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,189},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/agree_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,82},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/agree_btn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,82},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/disagree_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,108},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/disagree_btn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{208,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,79}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,189},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/jsfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,108},{186,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,52}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/disagree.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1},{208,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,79}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/close_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,108},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/close_btn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,189},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>app/part/xymj/dissolve/res/agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,108},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dissolve_picture.png</string>
			<key>realTextureFileName</key>
			<string>dissolve_picture.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>