<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,77},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,847},{46,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,903},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,959},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,477},{42,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,601},{41,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,409},{42,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ad_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,545},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_al_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,113},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_al_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_al_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,265},{70,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,56}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_al_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,337},{70,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,56}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_al_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,113},{70,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,56}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ar_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,192},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ar_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,113},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ar_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{68,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ar_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,575},{68,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_ar_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,645},{68,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{78,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,110}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,783},{48,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,72}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,931},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,477},{49,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,409},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,851},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_az_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,715},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bd_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,77},{34,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,49}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bd_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,987},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bd_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,987},{31,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,40}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bd_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,657},{31,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,40}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bl_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bl_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bl_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,545},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bl_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,610},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_br_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,350},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_br_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,189},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_br_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,675},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_br_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,782},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,857},{48,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,72}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,740},{40,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,58}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_bz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,983},{40,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,61}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_cl_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1},{56,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,69}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/allempty/mj_cr_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,185},{56,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>allempty_picture.png</string>
			<key>realTextureFileName</key>
			<string>allempty_picture.png</string>
			<key>size</key>
			<string>{256,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>