<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mjcardopt/res/angang.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,115},{249,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,115}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/bugang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{366,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,115}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,115},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,115},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,115},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,170},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,340},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/chi_ani_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,285},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,285},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,455},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,455},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,455},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,510},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,510},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/gang_ani_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,625},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,625},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,680},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,680},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,795},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,795},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,850},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/hu_ani_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,850},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/laizigang.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,364},{145,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,115}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/minggang.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{366,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,115}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,965},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,965},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1020},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1020},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1135},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1135},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
			<key>app/part/xymj/mjcardopt/res/peng_ani_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1135},{200,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>opt_picture.png</string>
			<key>realTextureFileName</key>
			<string>opt_picture.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>