<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mjcard/res/mine/M_autumn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_bamboo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_character_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_chrysanthemum.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,113},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,226},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,339},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_dot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_orchid.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_plum.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_spring.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_summer.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,188},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,301},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,414},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,188},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,301},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,414},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_wind_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>app/part/xymj/mjcard/res/mine/M_winter.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,188},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mine_picture.png</string>
			<key>realTextureFileName</key>
			<string>mine_picture.png</string>
			<key>size</key>
			<string>{977,489}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>977</integer>
			<key>height</key>
			<integer>489</integer>
		</dict>
	</dict>
</plist>