<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mj3dtable/res/zhuang_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,142},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/pz_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,139},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/pz_tck.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{218,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,69}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/offline_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,142},{60,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,35}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/dipan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{196,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,139}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/table_logo_524558.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1},{183,57}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,60}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/menglaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,147},{95,36}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/yilaidaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,61},{137,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/yingmajiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,72},{106,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/yipierlai.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,61},{135,35}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/scale9dark_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/table_logo_bdy.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,72},{110,35}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/table_logo_wdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,109},{106,36}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/table_logo_ls.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{175,58}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,60}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/aj_lt.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,185},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/aj_lt_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,72},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/match_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{182,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,55}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/table_logo_ls13579.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1},{178,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,60}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/dianpiao_lose_one_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,60},{177,37}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/dianpiao_lose_three_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,60},{177,37}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
			<key>app/part/xymj/mj3dtable/res/zimo_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,142},{99,33}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>table_picture.png</string>
			<key>realTextureFileName</key>
			<string>table_picture.png</string>
			<key>size</key>
			<string>{1020,251}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>251</integer>
		</dict>
	</dict>
</plist>