<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mjmatch/winMatch/res/award.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,0},{231,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,31}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/award_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{455,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{455,292}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,79},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/font_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/item_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,79},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,55}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/ming.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,79},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,0},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/mjmatch/winMatch/res/zuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,79},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>winMatch_picture.png</string>
			<key>realTextureFileName</key>
			<string>winMatch_picture.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>