<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/newmjvipover/res/fangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/backPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,854},{143,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,60}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{705,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{705,103}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/banner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,854},{705,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{705,103}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/close_btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,770},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/close_btn_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,770},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/fourth_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1010,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1010,93}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/fourth_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,96},{1010,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1010,93}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/gdong.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,989},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/gdongtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,191},{418,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,13}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/liushuiitembg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{998,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{998,82}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/liushuiSort.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,716},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/liushuiTopTittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,275},{577,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{577,60}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/over_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,770},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/record.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,959},{143,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,60}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/roomid.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,859},{128,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,32}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,689},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/share_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,959},{143,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,60}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/share1.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,959},{143,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,60}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/show.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,611},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndAnGang.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,611},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndDianPao.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,673},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndJiePao.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,735},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndLiuShui.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,935},{186,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,52}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndMingGang.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,797},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndSCSort.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,959},{186,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,52}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndShared.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,854},{206,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,79}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndTotoalScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,989},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/vipEndZiMo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,959},{60,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,28}</string>
			</dict>
			<key>app/part/xymj/newmjvipover/res/dayingjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,770},{73,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>vipend_picture.png</string>
			<key>realTextureFileName</key>
			<string>vipend_picture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>