<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/chat/res/mic1.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,609},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/chat/res/mic2.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,682},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/chat/res/MsgBox1.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>
			<key>app/part/xymj/chat/res/pz_lt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,835},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/chat/res/pz_lt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,755},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/chat/res/pz_sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,908},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/chat/res/pz_sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,609},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz.fsk.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{241,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,64}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz_bq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{241,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,64}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz_fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,244},{144,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,64}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz_yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{241,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,64}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz_yy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,244},{241,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,64}</string>
			</dict>
			<key>app/part/xymj/chat/res/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,761},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,153},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,542},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,694},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,487},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,305},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,639},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,867},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,457},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,305},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,153},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>app/part/xymj/chat/res/msgLog.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1010},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>app/part/xymj/chat/res/otherVoiceBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,58},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>
			<key>app/part/xymj/chat/res/recordProgressBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,846},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/timeCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,979},{190,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,25}</string>
			</dict>
			<key>app/part/xymj/chat/res/vioceRightBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1},{41,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,89}</string>
			</dict>
			<key>app/part/xymj/chat/res/voiceLeftBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,92},{41,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,89}</string>
			</dict>
			<key>app/part/xymj/chat/res/MsgBox2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,115},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>
			<key>app/part/xymj/chat/res/myVoiceBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,487},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>
			<key>app/part/xymj/chat/res/myVoicePic1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,979},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>app/part/xymj/chat/res/myVoicePic2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,979},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>app/part/xymj/chat/res/myVoicePic3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,34},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>app/part/xymj/chat/res/otherVoicePic1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,55},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>app/part/xymj/chat/res/otherVoicePic2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,76},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>app/part/xymj/chat/res/otherVoicePic3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,97},{19,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,30}</string>
			</dict>
			<key>app/part/xymj/chat/res/tmpVoiceLog.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{472,761},{72,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>app/part/xymj/chat/res/aj_yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,390},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/aj_yy_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,466},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/forbid_aj_yy.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,846},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/forbid_aj_yy_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,922},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/speaker.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,791},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/speaker_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,791},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/speaker_silent.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,609},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/speaker_silent_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,685},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>app/part/xymj/chat/res/sz_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1006},{367,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{367,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chat_picture.png</string>
			<key>realTextureFileName</key>
			<string>chat_picture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>