<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_02l.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,289},{46,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_02p.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,821},{46,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_03l.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,877},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_03p.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,967},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_04l.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,877},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_04p.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,821},{45,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_05l.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,967},{42,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ad_05p.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,877},{42,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_al_01l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_al_01p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,416},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_al_02l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_al_02p.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,337},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ar_01l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ar_01p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,574},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ar_02l.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_ar_02p.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,77},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_01l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{78,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,110}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_01p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,113},{78,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,110}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_06l.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,685},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_06p.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,753},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_07l.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,413},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_07p.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,481},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_08l.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,549},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_08p.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,617},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_09l.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,153},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_09p.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,221},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mySeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,964},{42,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/upSeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,653},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/downSeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,732},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/frontSeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,933},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/B_autumnpei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{78,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,110}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/shuaiScript.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,933},{29,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,27}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_al_01_shuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,811},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_az_02_shuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,685},{42,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,54}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_zd_01_shuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,933},{32,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,44}</string>
			</dict>
			<key>app/part/xymj/mj3dcard/res/script/mj_zr_01_shuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,890},{77,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mj_script.png</string>
			<key>realTextureFileName</key>
			<string>mj_script.png</string>
			<key>size</key>
			<string>{211,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>211</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>