<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>app/part/xymj/mjtable/res/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/dipan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,1},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,72},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/duolai.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,99},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/gold_txt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,229},{130,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,36}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/jiesan_fangjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,169},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/jiesan_fangjian_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,219},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/leftTopBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1},{212,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,44}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,115},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/offline_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,169},{60,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,35}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_jsfj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_jsfj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,99},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_lt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,99},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_lt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,99},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_sz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,99},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,99},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_tc.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,169},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/pz_tck.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1},{218,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,69}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/quanxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,169},{79,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,48}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/table_logo_327940.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{250,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,96}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,115},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/yilaidaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,72},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/zhuang_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,169},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/table_logo_327943.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{250,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,96}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/menglaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,72},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/yingmajiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,215},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/yipierlai.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,229},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/icon_naozhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,169},{53,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,28}</string>
			</dict>
			<key>app/part/xymj/mjtable/res/icon_tongnao.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,169},{53,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>table_picture.png</string>
			<key>realTextureFileName</key>
			<string>table_picture.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>